.container-form {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 6% 25%;
  padding: 2%;
}

.form {
  display: flex;
  width: 80%;
  flex-direction: column;
  min-height: 400px;
}

.form h1 {
  font-family: "Open-sans", serif;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.form a {
  text-decoration: none;
  color: white;
}

.form p {
  color: white;
}

.password-form-field {
  display: flex;
}

.question-btn {
  margin-left: auto;
  margin-right: 5px;
  height: 40px;
}

.submit-btn {
  border-radius: 20px;
  width: 150px;
  align-self: end;
  margin-top: auto;
  padding: 10px;
}

.link-login {
  display: inline-flex;
}

@media (max-width: 600px) {
  .container-form {
    width: 90%;
    margin: 6% 5%;
    margin-top: 20%;
  }

  .form {
    display: flex;
    width: 90%;
    flex-direction: column;
    min-height: 450px;
  }
  
}
