<mat-card>
  <h2 align="center">Como ter uma senha forte</h2>
  <mat-list role="list">
    <mat-list-item role="listitem">No mínimo 8 dígitos.</mat-list-item>
    <mat-list-item role="listitem">Um caractere maiúsculo</mat-list-item>
    <mat-list-item role="listitem">Um caractere minúsculo</mat-list-item>
    <mat-list-item role="listitem">Um caractere especial, ex: ? ! .</mat-list-item>
    <mat-list-item role="listitem">Um algarismo numérico</mat-list-item>
  </mat-list>

  <p>Exemplo: Coelho123?</p>
</mat-card>
